<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi To Do app</title>
    </head>
    <body>
        <h1>Bienvenido a mi To Do's app</h1>

        <h3>Pendientes</h3>
        <table>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <td>Medallas de programacion.</td>
                    <td>Hacer las actividades de programacion avanzada.</td>
                    <td>
                        <button>Poner "En Proceso"</button>
                    </td>
                    <td>
                        <button>Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Clase de algebra.</td>
                    <td>Hacer la ultima clase de algebra.</td>
                    <td>
                        <button>Poner "En proceso"</button>
                    </td>
                    <td>
                        <button>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>En Proceso</h3>
        <table>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <td>Aprendiendo HTML.</td>
                    <td>Tamos Aprendiendo la estructura de un documento Html.</td>
                    <td>
                        <button>Finalizar Tarea</button>
                    </td>
                    <td>
                        <button>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Finalizado</h3>
        <table>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <td>Medallas Ciencia de Datos.</td>
                    <td>Conseguir todas las medallas de ciencia de datos.</td>
                    <td>
                        <button>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>